@{
}
<h1>Catálogo de Produtos</h1>
<p>Aqui está a lista de produtos <a href="/produtos/lista_download">Para Baixá-la Clique Aqui</a> </p>
<p>Aqui você poderá ver a lista de produtos do <a href="/produtos/fornecedor/01">Fornecedor 01</a></p>