@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Seu E-mail foi confirmado com sucesso";
}

<h1>@ViewData["Title"]</h1>

<p> <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"> Clique aqui para entrar </a> </p>